<!DOCTYPE html>
<html lang="cs">
<head>
	<meta name='robots' content='noindex,nofollow'/>
	<meta http-equiv='content-type' content='text/html; charset=utf-8'/>
	<link rel='shortcut icon' href='/static/images/favicon.png'/>
	<link rel='stylesheet' href='/static/css/styles.css?{=now|date:U}' media='all' type='text/css'/>
	<link rel='stylesheet' href='/static/css/font-awesome.css' media='all' type='text/css'/>
	<script type='text/javascript' src='/static/js/vendor/jquery.min.js'></script>
	<script type='text/javascript' src='/static/js/vendor/jquery-ui.min.js'></script>
	<script type='text/javascript' src='/static/js/vendor/pixi.min.js'></script>
	<script type='text/javascript' src='/static/js/vendor/p2.min.js'></script>
	<script type='text/javascript' src='/static/js/vendor/peer.min.js'></script>
	<script type='text/javascript' src='/static/js/vendor/stats.min.js'></script>
	<script type='text/javascript' src='/static/js/client.min.js?{=now|date:U}'></script>
	<title>{ifset title}{include title|stripHtml} | BloodyBalls{else}BloodyBalls{/ifset}</title>
</head>
<body data-body-view>
<div class='wrapper'>
	{include content}
</div>
</body>
</html>