{layout @layout.latte}
{block title}Stránka nenalezena{/block}
{block content}
<h1 style='margin-bottom:10px;'>Stránka nenalezena</h1>
<p style='margin-bottom:20px;'>Omlouváme se, ale tato stránka neexistuje.</p>